.container {
  height: 100px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-bottom: 1px solid white;
}

.content {
  width: 1120px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 20px;
}

.title {
  font-size: 2rem;
}

@media (max-width: 460px) {
  .title {
    font-size: 1rem;
  }
}

.navLinks {
  display: flex;
  gap: 20px;
}

@media (max-width: 560px) {
  .navLinks {
    flex-direction: column;
    background-color: #161616;
    position: fixed;
    height: 100%;

    gap: 0px;
    top: 0px;
    right: 0px;
    width: 60%;
    transition: 0.5s;
  }
}
.ancora {
  font-size: 20px;
  transition: 0.3s;
}

@media (min-width: 560px) {
  .ancora {
    align-items: center;
    display: flex;
    padding: 0px 10px;
  }
}

.menu {
  font-size: 30px;
  display: none;
  cursor: pointer;
}

@media (max-width: 560px) {
  .menu {
    display: flex;
  }
}
.closeSidebar {
  font-size: 30px;
  right: 15px;
  top: 35px;
  position: absolute;
  display: none;
  cursor: pointer;
}

@media (max-width: 560px) {
  .closeSidebar {
    display: flex;
  }
}

.contentTitle {
  text-align: end;
}
